<section class="form-page">

    <h1>Registro</h1>

    <form action="/signup" method="POST">
        <label for="field1">Nombre de usuario</label>
        <input name="username" type="text" class="form-control" id="field1">
        <label for="field2">Contraseña</label>
        <input name="password" type="password" class="form-control" id="field2">
        <small class="form-text text-muted">Nunca compartas tu contraseña</small>
        <div class="row justify-content-center">
            <button type="submit" class="my-button main filled">Registrarme</button>
        </div>
        {{#if errorMsg}}
        <div id="errorMsg">{{{errorMsg}}}</div>
        {{/if}}
    </form>

    <p>¿Tienes cuenta? <a href="/login">¡Inicia sesión!</a></p>

</section>