<div class="row">
  <div class="col-8 justify-content-center">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<div class="row">
  <div class="col-8 justify-content-center">
    <a href="#" class="btn btn-dark">Edit your user information</a>
    <a href="#" class="btn btn-dark">Validation screen</a>
  </div>
</div>