<section class="form-page">
    <h2 class="center">Añadir corriente arquitectónica</h2>
    <form method="POST" action="/trend" enctype="multipart/form-data">

        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" required>

        <div class="row justify-content-center">
            <div class="col-md-7">
                <label for="country">País de origen</label>
                <input type="text" class="form-control" id="country" name="country" required>
            </div>
            <div class="col-md-5">
                <label for="year">Años</label>
                <input type="text" class="form-control" id="year" name="year" required>
            </div>
        </div>



        <label for="inputAddress">Obra más representativa</label>
        <input type="text" class="form-control" id="inputAddress" name="bestWork" required>

        <input type="file" class="upload-file" id="customFile" name="photo-trend">

        <label for="inputAddress">Descripción</label>
        <input type="text" class="form-control" id="inputAddress" name="description" required>

        <div class="row justify-content-center">
            <button type="submit" class="my-button main filled">Añadir nueva</button>
        </div>

    </form>
    <a href="/trend" class="my-button nolined">Cancelar y volver</a>

</section>