<section id="main-page">
    <div class="row justify-content-end">
        <div class="col-md-8">
            <h1 class="right">Base de Datos de Arquitectura</h1>
            <h2 class="right">Una RRSS donde ver arquitectura,
                y colaborar con su contenido.</h2>
            <h3 class="right">Añade, edita, comenta… tu arquitectura favorita.</h3>
            <div id="main-gp-btn">
                <a class="my-button main outlined" href="/works">Ver BBDD</a>
                <a class="my-button main filled" href="/signup">registro</a>
            </div>
            <small>¿Ya tienes cuenta? <a href="/login">Entrar aquí</a></small>
        </div>
    </div>
</section>