<section id="main-page">
    <div class="row justify-content-end">
        <div class="col-md-8">
            <h1 class="right">Base de Datos de Arquitectura</h1>
            <h2 class="right">Una RRSS donde ver arquitectura,
                y colaborar con su contenido.</h2>
            <h3 class="right">Añade, edita, comenta… tu arquitectura favorita.</h3>
            <div id="main-gp-btn">
                <a class="my-button main outlined" href="/works">Ver BBDD</a>
                <a class="my-button main filled" href="/signup">registro</a>
            </div>
            <small>¿Ya tienes cuenta? <a href="/login">Entrar aquí</a></small>
        </div>
    </div>
</section>
<section id="graphs">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-center graph-titles">Obras por país</h5>
            <canvas id="works-per-country"></canvas>
        </div>
        <div class="col-md-6">
            <h5 class="text-center graph-titles">Obras por tipo</h5>
            <canvas id="works-per-type"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-center graph-titles">Obras por arquitecto</h5>
            <canvas id="works-per-architect"></canvas>
        </div>
        <div class="col-md-6">
            <h5 class="text-center graph-titles">Obras por corriente arquitectónica</h5>
            <canvas id="works-per-trend"></canvas>
        </div>
    </div>
</section>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="/javascripts/color-generator.js"></script>
<script src="/javascripts/data-visualization.js"></script>