<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>the_ArchitectureDB</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
	<div class="container">
		<nav>
			<ul id="first-group">
				<li><a href="/works">obras</a></li>
				<li><a href="/architects">arquitectos</a></li>
				<li><a href="/trend">corrientes arquitectónicas</a></li>
			</ul>

			<figure>
				<a href="/"><img src="/images/logo.png" alt="ArchitectureDB Logo"></a>
			</figure>

			<ul id="third-group">
				{{#if user}}
				<li><a href="/list">Mis listas</a></li>
				<li><a href="/dashboard">dashboard</a></li>
				<li><a href="/logout">cerrar sesión</a></li>
				{{/if}}
				{{#unless user}}
				<li><a href="/signup">registro</a></li>
				<li><a href="/login">login</a></li>
				{{/unless}}
			</ul>
		</nav>
	</div>

	<main class="container">{{{body}}}</main>

	<footer>
		<small>© Copyright the_ArchitectureDB 2020</small>
	</footer>

	<script src="/javascripts/singleGeoPoint.js"></script>
	{{!-- <script src="/javascripts/multipleGeoPoints.js"></script> --}}
	<script src="/javascripts/drag.js"></script>
</body>

</html>