body {
  font-weight: 200;
  font-family: 'Titillium Web', sans-serif;
  color: #666665;
  background-color: white; }

img {
  display: block;
  width: 100%; }

textarea {
  resize: none; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

p {
  font-size: 16px; }

h1,
h2,
h4,
h5,
h6 {
  color: #2b3647; }

h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 8px 0; }

h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 8px 0; }

h3 {
  color: #ff576f;
  font-size: 23px;
  font-weight: 400;
  margin: 8px 0; }

h4 {
  font-size: 35px;
  font-weight: 700;
  margin: 8px 0; }

h5 {
  font-size: 21px;
  font-weight: 600; }

h6 {
  font-size: 18px;
  font-weight: 300; }

.graph-titles {
  margin: 16px 0px; }

nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav #first-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0; }
  nav #third-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0; }
  nav li {
    list-style-type: none; }
    nav li a {
      font-size: 12px;
      color: #2b3647;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 8px; }
      nav li a:hover {
        text-decoration: underline;
        color: #ff576f; }
  nav figure {
    width: 144px;
    margin-left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; }
    nav figure a {
      display: block; }

.form-page {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .form-page h2 {
    margin: 0 0 16px;
    font-weight: 700; }
  .form-page form {
    width: 500px; }
    .form-page form.complex-form {
      width: 1000px; }
      .form-page form.complex-form .upload-file {
        margin-top: 44px; }
    .form-page form .upload-file {
      background-color: #f5f6f9;
      width: 100%;
      margin: 32px 0 0;
      padding: 8px 16px;
      border-radius: 10px; }
    .form-page form label {
      margin: 24px 0 0;
      text-align: left;
      display: block; }
    .form-page form .my-button {
      margin: 40px 0 24px 0px; }
  .form-page p {
    text-align: center; }
    .form-page p a {
      color: #009cba; }

.my-button {
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 700; }
  .my-button.main {
    font-size: 18px;
    padding: 8px 32px; }
  .my-button.card {
    font-size: 12px;
    padding: 8px 16px; }
  .my-button.filled {
    border: solid 1px #ff576f;
    background-color: #ff576f;
    color: white; }
    .my-button.filled:hover {
      color: #ff576f;
      background-color: white;
      text-decoration: none; }
  .my-button.disabled {
    background-color: #f5f6f9;
    color: #009cba; }
  .my-button.outlined {
    border: solid 1px #ff576f;
    color: #ff576f; }
    .my-button.outlined:hover {
      background-color: #ff576f;
      color: white;
      text-decoration: none; }
    .my-button.outlined.mini {
      font-size: 10px;
      padding: 4px 8px; }
  .my-button.nolined {
    font-size: 16px;
    color: #2b3647;
    border-radius: 0;
    border: none;
    text-transform: none;
    font-weight: 300;
    text-decoration: underline;
    background-color: transparent; }
    .my-button.nolined:hover {
      color: #ff576f; }

.fav-btn {
  display: flex;
  justify-content: flex-start; }
  .fav-btn input {
    width: 30px;
    margin: 0 5px; }

#main-page {
  padding: 150px 0;
  background-image: url("/images/bkg-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 100vh; }
  #main-page small {
    text-align: right;
    display: block;
    font-size: 14px; }
    #main-page small a {
      color: #009cba; }
  #main-page #main-gp-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px 0; }
  #main-page .my-button.main {
    margin-left: 16px; }

#graphs {
  margin-bottom: 48px; }

#works-page {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #works-page .my-button {
    margin: 8px 0; }
  #works-page #all-cards {
    padding: 20px 0; }
  #works-page .work-card {
    display: flex;
    align-items: flex-start;
    margin: 20px 20px 0 0; }
    #works-page .work-card .work-img {
      width: 180px;
      height: 180px; }
      #works-page .work-card .work-img img {
        border-radius: 10px 0 10px 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden; }
    #works-page .work-card .work-text {
      width: 368px;
      padding: 10px 16px 16px;
      background-color: #f5f6f9;
      border-radius: 0px 10px 10px 0;
      display: flex;
      flex-direction: column; }
      #works-page .work-card .work-text .btn-card {
        display: flex;
        justify-content: space-between;
        align-items: center; }

#validation-page,
#likes-page,
#arch-page,
#trend-page {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px; }
  #validation-page .my-button,
  #likes-page .my-button,
  #arch-page .my-button,
  #trend-page .my-button {
    margin: 8px 0; }
  #validation-page .card-dsg,
  #likes-page .card-dsg,
  #arch-page .card-dsg,
  #trend-page .card-dsg {
    width: 168px;
    margin: 40px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #validation-page .card-dsg .card-img,
    #likes-page .card-dsg .card-img,
    #arch-page .card-dsg .card-img,
    #trend-page .card-dsg .card-img {
      width: inherit;
      height: 145px;
      margin-bottom: 0; }
      #validation-page .card-dsg .card-img img,
      #likes-page .card-dsg .card-img img,
      #arch-page .card-dsg .card-img img,
      #trend-page .card-dsg .card-img img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden; }
    #validation-page .card-dsg .card-text,
    #likes-page .card-dsg .card-text,
    #arch-page .card-dsg .card-text,
    #trend-page .card-dsg .card-text {
      background-color: #f5f6f9;
      width: inherit;
      padding: 16px 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0 0 10px 10px; }
      #validation-page .card-dsg .card-text h5,
      #likes-page .card-dsg .card-text h5,
      #arch-page .card-dsg .card-text h5,
      #trend-page .card-dsg .card-text h5 {
        font-size: 18px; }
  #validation-page .my-list,
  #likes-page .my-list,
  #arch-page .my-list,
  #trend-page .my-list {
    border: #f5f6f9 3px solid;
    border-radius: 20px;
    padding: 20px 32px;
    margin: 60px 24px 60px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    #validation-page .my-list .ordering,
    #likes-page .my-list .ordering,
    #arch-page .my-list .ordering,
    #trend-page .my-list .ordering {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      #validation-page .my-list .ordering .my-button,
      #likes-page .my-list .ordering .my-button,
      #arch-page .my-list .ordering .my-button,
      #trend-page .my-list .ordering .my-button {
        margin-left: 16px; }
      #validation-page .my-list .ordering .list-card,
      #likes-page .my-list .ordering .list-card,
      #arch-page .my-list .ordering .list-card,
      #trend-page .my-list .ordering .list-card {
        background-color: #f5f6f9;
        min-width: 310px;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 8px 0; }
        #validation-page .my-list .ordering .list-card.fav,
        #likes-page .my-list .ordering .list-card.fav,
        #arch-page .my-list .ordering .list-card.fav,
        #trend-page .my-list .ordering .list-card.fav {
          border-left: #ff576f 3px solid; }
        #validation-page .my-list .ordering .list-card.like,
        #likes-page .my-list .ordering .list-card.like,
        #arch-page .my-list .ordering .list-card.like,
        #trend-page .my-list .ordering .list-card.like {
          border-left: #009cba 3px solid; }

#work-dets,
#trend-dets,
#arch-dets {
  padding-bottom: 60px; }
  #work-dets .first-part,
  #trend-dets .first-part,
  #arch-dets .first-part {
    margin: 48px 0; }
    #work-dets .first-part a,
    #trend-dets .first-part a,
    #arch-dets .first-part a {
      color: #009cba; }
    #work-dets .first-part img,
    #trend-dets .first-part img,
    #arch-dets .first-part img {
      border-radius: 10px; }
  #work-dets #workMap,
  #trend-dets #workMap,
  #arch-dets #workMap {
    border-radius: 20px;
    opacity: 0.8;
    margin-top: 24px; }

.comment-section {
  padding: 40px 0;
  margin-top: 40px; }
  .comment-section form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 24px;
    width: 1100px; }
    .comment-section form input,
    .comment-section form textarea {
      font-weight: 200;
      font-size: 14px;
      margin: 8px 0;
      border: #2b3647 solid 1px; }
    .comment-section form .my-button {
      margin-top: 16px; }
  .comment-section .post-area .each-post {
    background-color: #f5f6f9;
    border-radius: 20px;
    padding: 20px;
    width: 1100px;
    margin: 32px 0; }
    .comment-section .post-area .each-post h5 {
      text-transform: uppercase; }
    .comment-section .post-area .each-post h6 {
      text-decoration: underline;
      font-size: 18px; }
  .comment-section .post-area form {
    margin-top: 0; }

footer {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0; }

#errorMsg {
  background-color: #f5f6f9;
  color: #ff576f;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 16px;
  border-radius: 10px; }

#workMap {
  height: 300px;
  width: 100%; }

#map-container {
  display: none;
  position: fixed;
  background-color: #f5f6f9;
  box-shadow: 5px 5px 5px 5px rgba(102, 102, 101, 0.5);
  padding: 16px; }
  #map-container #routeUrl {
    display: none;
    width: 280px;
    text-align: center; }
  #map-container #routes-map {
    height: 500px;
    width: 700px; }

/*# sourceMappingURL=style.css.map */