$p-color: #666665;
$dark-blue: #2b3647;
$red: #FF576F;
$light-grey: #f5f6f9;
$link-color: #009CBA;


body {
  font-weight: 200;
  font-family: 'Titillium Web', sans-serif;
  color: $p-color;
  background-color: white;
}

img {
  display: block;
  width: 100%;
}

textarea {
  resize: none;
}

//Texts

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

p {
  font-size: 16px;
}

h1,
h2,
h4,
h5,
h6 {
  color: $dark-blue;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 8px 0;

}

h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 8px 0;

}

h3 {
  color: $red;
  font-size: 23px;
  font-weight: 400;
  margin: 8px 0;
}

h4 {
  font-size: 35px;
  font-weight: 700;
  margin: 8px 0;

}

h5 {
  font-size: 21px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  font-weight: 300;
}

.graph-titles {
  margin: 16px 0px;
}

//Nav-bar
nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;


  #first-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;

  }

  #third-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;

    a {
      font-size: 12px;
      color: $dark-blue;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 8px;

      &:hover {
        text-decoration: underline;
        color: $red;
      }
    }
  }

  figure {
    width: 144px;
    margin-left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    a {
      display: block;
    }
  }

}

//Forms

.form-page {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  h2 {
    margin: 0 0 16px;
    font-weight: 700;
  }

  form {
    width: 500px;

    &.complex-form {
      width: 1000px;

      .upload-file {
        margin-top: 44px;
      }
    }


    .upload-file {
      background-color: $light-grey;
      width: 100%;
      margin: 32px 0 0;
      padding: 8px 16px;
      border-radius: 10px;
    }

    label {
      margin: 24px 0 0;
      text-align: left;
      display: block;
    }

    .my-button {
      margin: 40px 0 24px 0px;
    }

  }

  p {
    text-align: center;

    a {
      color: $link-color;
    }
  }
}


//buttons
.my-button {
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 700;

  &.main {
    font-size: 18px;
    padding: 8px 32px;
  }

  &.card {
    font-size: 12px;
    padding: 8px 16px;
  }

  &.filled {
    border: solid 1px $red;
    background-color: $red;
    color: white;

    &:hover {
      color: $red;
      background-color: white;
      text-decoration: none;
    }
  }

  &.disabled {
    background-color: $light-grey;
    color: $link-color;
  }

  &.outlined {
    border: solid 1px $red;
    color: $red;

    &:hover {
      background-color: $red;
      color: white;
      text-decoration: none;

    }

    &.mini {
      font-size: 10px;
      padding: 4px 8px;
    }
  }

  &.nolined {
    font-size: 16px;
    color: $dark-blue;
    border-radius: 0;
    border: none;
    text-transform: none;
    font-weight: 300;
    text-decoration: underline;
    background-color: transparent;

    &:hover {
      color: $red;
    }
  }

}

.fav-btn {
  display: flex;
  justify-content: flex-start;

  input {
    width: 30px;
    margin: 0 5px;
  }
}


//main-page
#main-page {
  padding: 150px 0;
  background-image: url('/images/bkg-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 100vh;

  small {
    text-align: right;
    display: block;
    font-size: 14px;

    a {
      color: $link-color;
    }
  }

  #main-gp-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px 0;
  }

  .my-button.main {
    margin-left: 16px;
  }
}

#graphs {
  margin-bottom: 48px;
}

//Each Index

#works-page {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .my-button {
    margin: 8px 0;
  }

  #all-cards {
    padding: 20px 0;
  }

  .work-card {
    display: flex;
    align-items: flex-start;
    margin: 20px 20px 0 0;

    .work-img {
      width: 180px;
      height: 180px;

      img {
        border-radius: 10px 0 10px 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }

    .work-text {
      width: 368px;
      padding: 10px 16px 16px;
      background-color: $light-grey;
      border-radius: 0px 10px 10px 0;
      display: flex;
      flex-direction: column;


      .btn-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    }

  }
}

#likes-page,
#arch-page,
#trend-page {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;

  .my-button {
    margin: 8px 0;
  }


  .card-dsg {
    width: 168px;
    margin: 40px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-img {
      width: inherit;
      height: 145px;
      margin-bottom: 0;

      img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }

    .card-text {
      background-color: $light-grey;
      width: inherit;
      padding: 16px 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0 0 10px 10px;

      h5 {
        font-size: 18px;
      }
    }

  }


  .my-list {
    border: $light-grey 3px solid;
    border-radius: 20px;
    padding: 20px 32px;
    margin: 60px 24px 60px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .ordering {

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .my-button {
        margin-left: 16px;
      }

      .list-card {
        background-color: $light-grey;
        min-width: 310px;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 8px 0;

        &.fav {
          border-left: $red 3px solid;
        }

        &.like {
          border-left: $link-color 3px solid;
        }
      }
    }
  }

}

//Dets page

#work-dets,
#trend-dets,
#arch-dets {
  padding-bottom: 60px;

  .first-part {
    margin: 48px 0;

    a {
      color: $link-color;
    }

    img {
      border-radius: 10px;
    }
  }

  #workMap {
    border-radius: 20px;
    opacity: 0.8;
    margin-top: 24px;
  }
}

//Comments
.comment-section {
  padding: 40px 0;
  margin-top: 40px;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 74px;

    input,
    textarea {
      font-weight: 200;
      font-size: 14px;
      margin: 8px 0;
      border: $p-color solid 1px;
    }

    .my-button {
      margin-top: 16px;
    }
  }

  .post-area {

    .each-post {
      background-color: $light-grey;
      border-radius: 20px;
      padding: 20px;

      margin: 32px 0;

      h5 {
        text-transform: uppercase;
      }

      h6 {
        text-decoration: underline;
        font-size: 18px;
      }
    }

    form {
      margin-top: 0;
    }
  }
}

//Footer
footer {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}


#errorMsg {
  background-color: $p-color;
  color: $red;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 16px;
  border-radius: 10px;
}

#workMap {
  height: 300px;
  width: 100%;
}