<section class="form-page">
    <h2>Nueva Obra Arquitectónica</h2>

    <form class="complex-form" action="/works" method="POST" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <label for="name">Nombre de la obra</label>
                <input name="name" type="text" class="form-control" id="name">

                <label for="trend-arch">Corriente Arquitectónica</label>
                <select class="custom-select" id="trend-arch" name="trend">
                    <option selected disabled value="">Elige corriente...</option>
                    {{#each trends}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>


                <label for="work">Tipo de Obra</label>
                <select class="custom-select" id="work" name="workType">
                    <option selected disabled value="">Elige tipo de obra...</option>
                    <option>Parque</option>
                    <option>Espacio Público</option>
                    <option>Vivienda</option>
                    <option>Religiosa</option>
                    <option>Edificio público</option>
                </select>

            </div>
            <div class="col-md-5">
                <label for="architect">Arquitecto</label>
                <select class="custom-select" id="architect" name="architect">
                    <option selected disabled value="">Elige un arquitecto...</option>
                    {{#each archs}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>

                <div class="row">
                    <div class="col-md-7">
                        <label for="country">País</label>
                        <input name="country" type="text" class="form-control" id="country">
                    </div>
                    <div class="col-md-5">
                        <label for="finishedin">Año de finalización</label>
                        <input name="finished" type="number" class="form-control" id="finishedin">
                    </div>

                </div>

                <div class="custom-file">
                    <input type="file" class="upload-file" id="customFile" name="photo-work">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <label for="address">Dirección</label>
                <input name="address" type="text" class="form-control" id="address"
                    placeholder="Introduzca una dirección postal">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <label for="description">Descripción</label>
                <textarea name="description" id="description" rows="5" class="form-control"></textarea>
            </div>
        </div>

        <div class="row justify-content-center">
            <button type="submit" class="my-button main filled">Añadir</button>
        </div>
    </form>
    {{!-- <small>*Año de finalización</small> --}}
    <a href="/works" class="my-button nolined">Cancelar y volver</a>

</section>