<div class="row">
  <div class="col-md-6">

    <h2>New architect</h1>

      <form action="/architects/new" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control" id="name">
          <small>This field is required</small>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input name="country" type="text" class="form-control" id="country">
        </div>
        <div class="form-group">
          <label for="flagship-work">Flagship work</label>
          <input name="flagship-work" type="text" class="form-control" id="flagship-work">
        </div>
        <button type="submit" class="btn btn-dark btn-block btn-lg">Submit</button>

        {{#if errorMsg}}
        <div id="errorMsg">{{{errorMsg}}}</div>
        {{/if}}

      </form>
  </div>
</div>