<h2>Architects</h2>

<div class="row">
  <div class="col-8">
    {{#each architects}}
    <article>
      <h3>{{name}}</h3>
      <p>Flagship work: {{flagshipWork}}</p>
    </article>
    <hr>
    {{/each}}
  </div>
</div>