<section id="likes-page">
    <h1 class="center">Mis listas</h1>

    <div class="row">
        <div id="visites" class="my-list">
            <h5>Lugares en los que estuve</h5>

            <div class="row ordering is-left">
                {{#each visites}}
                <div class="list-card like" draggable="true">
                    <h5 class="center">{{ name }}</h5>
                    <form action="/list/delete/{{id}}" method="post">
                        <button type="submit" class="my-button outlined mini">Quitar</button>
                    </form>
                </div>
                {{/each}}
            </div>

        </div>

        <article id="wishes" class="my-list">

            <h5>Dónde me gustaría ir</h5>
            <div class="row ordering is-right">

                {{#each wishes}}
                <div class="list-card fav" draggable="true">
                    <h5 class="center">{{ name }}</h5>
                    <form action="/list/delete/{{id}}" method="post">
                        <button type="submit" class="my-button outlined mini">Quitar</button>
                    </form>
                </div>
                {{/each}}
            </div>

        </article>

    </div>

</section>